pbos:
  listen: {{ keepalived_vip }}:{{ _memcached_port }}
  hash: fnv1a_64
  distribution: ketama
  auto_eject_hosts: true
  redis: false
  server_retry_timeout: 2000
  server_failure_limit: 1
  servers:
  {% for s in groups['controller'] %}
    - {{ hostvars[s].ansible_host }}:{{ _memcached_port }}:1
  {% endfor %}
